* {
    margin: 0;
    padding: 0;
}

#main {
    width: 600px;
    height: 800px;
    background: url("../images/background_1.png");
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

#titleScore {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    z-index: 2;
}